
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
    <style type="text/css">
        .testtt{
            background:url(../../Content/Images/account.jpg);
            height:500px;
        }
    </style>
</head>
<body>
    <div class="testtt"> 
    </div>
</body>
</html>
